.emotions {
}
.emotions__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.emotions__text::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
