.features-place__wrap {
  .container();
}
.features-place__head-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
}
.features-place__head {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  box-sizing: border-box;
}
.features-place__triangle {
  display: none;
}
.features-place__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}
.features-place__number-features {
  font-size: 14px;
  line-height: 21px;
}
.features-place__about-features {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}
.features-place__image-layout {
  height: 256px;
}
.features-place__entertainment-item-layout {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;
    left: 0;
    top: -10px;
    background-size: 39px 37px;
  }
}
.features-place__entertainment-item-layout:nth-of-type(1)::before {
  background-image: url("../img/icon-house.svg");
}
.features-place__entertainment-item-layout:nth-of-type(2)::before {
  background-image: url("../img/icon-gift.svg");
}
.features-place__entertainment-item-layout:nth-of-type(3)::before {
  background-image: url("../img/icon-burger.svg");
}
.features-place__entertainment-item-title {
  margin: 0;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-place__entertainment-item-about {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media @mobile {
  .features-place__head-layout {
    position: relative;
    width: 100%;
  }
  .features-place__triangle {
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    display: block;
    fill: #ffffff;
  }
  .features-place__head {
    width: 280px;
    min-height: 196px;
    padding-top: 55px;
    padding-bottom: 29px;

  }
  .features-place__image-layout {
    display: flex;
    justify-content: center;
  }
  .features-place__image-layout img {
    display: block;
    height: 256px;
    width: 320px;

  }
  .features-place__entertainment {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 280px;
    padding: 0 20px;
    padding-top: 35px;
    padding-bottom: 37px;
  }
  .features-place__entertainment-item-layout {
    padding-bottom: 28px;
    padding-left: 50px;
    padding-right: 20px;
  }
  .features-place__entertainment-item-layout:last-of-type {
    padding-bottom: 0;
  }
}
@media @tablet {
  .features-place__head-wrap {
    display: flex;
  }
  .features-place__head-layout {
    width: 33%;
    height: 256px;
  }
  .features-place__head {
    height: 100%;
    padding: 45px;
  }
  .features-place__title {
    font-size: 21px;
    width: 200px;
    align-self: center;
  }
  .features-place__image-layout {
    width: 67%;
  }
  .features-place__image-layout img {
    width: 100%;
    height: 256px;
  }
  .features-place__entertainment {
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  .features-place__entertainment-item-layout {
    width: 33%;
    padding: 0 45px;
    padding-top: 160px;
    &::before {
      top: 63px;
      left: 50%;
      margin-left: -34px;
      width: 77px;
      height: 68px;
      background-size: 77px 68px;
    }
  }
  .features-place__entertainment-item-layout:nth-of-type(2) {
    order: 3;
  }
  .features-place__entertainment-item-title {
    padding-bottom: 20px;
    font-size: 21px;
  }
}
@media @desktop {
  .features-place__head {
    padding: 13%;
  }
}
