.features-bridge {
}
.features-bridge__head {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
}
.features-bridge__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}
.features-bridge__number-features {
  font-size: 14px;
  line-height: 21px;
}
.features-bridge__about-features {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}
.features-bridge__picture-layout {
  width: 320px;
  height: 260px;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../../img/photo-bridge@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: auto 260px;
}
