.features-bridge-wrap {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.features-bridge__head {
  min-height: 191px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}
.features-bridge__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}
.features-bridge__number-features {
  font-size: 14px;
  line-height: 21px;
}
.features-bridge__about-features {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}
.features-bridge__picture-layout {
  height: 260px;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../../img/photo-bridge@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media (min-width: 768px) {
  .features-bridge-wrap {
    display: flex;
  }
  .features-bridge__head {
    width: 33%;
    order: 2;
  }
  .features-bridge__picture-layout {
    width: 67%;
  }
}
