.features-place {
}
.features-place__head {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
}
.features-place__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}
.features-place__number-features {
  font-size: 14px;
  line-height: 21px;
}
.features-place__about-features {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}
.features-place__image-layout {
  width: 320px;
  height: 260px;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../../img/photo-city@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: auto 260px;
}
.features-place__housing {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-place__housing-about {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.features-place__suvenirs {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-place__suvenirs-about{
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.features-place__food {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-place__food-about {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
