.features-bridge {
  &__head {
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__title {
    margin: 0;

    font-size: 18px;
    line-height: 26px;
  }
  &__number-features {
    font-size: 14px;
    line-height: 21px;
  }
  &__about-features {
    margin: 0;

    font-size: 14px;
    line-height: 21px;
  }
  &__picture-layout {
    width: 320px;
    height: 260px;

    font-size: 0;

    background: #ffffff url("../../img/photo-bridge@1x.jpg") 50% 100% no-repeat;
    background-size: auto 260px;
  }
}
