.features-area {
}
.features-area__layout {
  background-color: #eeeeee;
}
.features-area__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-area__number-features {
  font-size: 14px;
  line-height: 21px;
}
.features-area__about-features {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
