.img-title {
}
.img-title__layout {
  display: flex;
  width: 320px;
  height: 158px;
  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.img-title__picture {
  display: block;
  margin: auto;
}
