.location {
  &__title {
    margin: 0;

    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__about {
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__button {
    border: 0;

    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
  }
}
