.main-title {
  &__title {
    margin: 0;

    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__reason {
    margin: 0;

    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }
}
