.main-footer {
}
.main-footer__hash {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-footer__copyright {
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
