.map__layout {
  height: 350px;
  margin-bottom: 36px;

  background-color: #ffffff;
  background-image: url("../../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .container();
}
