.person {
}
.person__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.person__label-text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.person__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
