.promo-view__slogan-layout {
  height: 389px;
  width: 100%;
  display: flex;

  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  box-sizing: border-box;
  &--lower {
    height: 158px;
    background-size: auto 389px;
  }
  @media @retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.promo-view__logo-title {
  margin: auto;
  padding-bottom: 21px;
}
@media @mobile {
  .promo-view__logo-title {
    width: 229px;
    height: 39px;
    &--index {
      width: 282px;
      height: 214px;
    }
  }
}
@media @tablet {
  .promo-view__slogan-layout {
    height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    &--lower {
      height: 290px;
      background-size: auto 518px;
    }
  }
  .promo-view__logo-title {
    height: 78px;
    width: 458px;
    &--index {
      width: 460px;
      height: 350px;
    }
  }
  @media @retina {
    .promo-view__slogan-layout {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
@media @desktop {
  .promo-view__slogan-layout {
    &--lower {
      height: 301px;
      background-size: auto 518px;
    }
  }
}
