.promo-view__slogan-layout {
  height: 389px;
  display: flex;

  background-color: #ffffff;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.promo-view__logo-title {
  margin: auto;
}

@media (min-width: 768px) {
  .promo-view__slogan-layout {
    height: 518px;
  }
  .promo-view__logo-title {
    height: 76px;
    width: 460px;
  }
}
